{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Croissant+One&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Libre+Caslon+Text&display=swap" rel="stylesheet" />
    <link href="{% static 'journal/style.css' %}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/0a9779fe36.js" crossorigin="anonymous"></script>
    <title>Echoes</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar__container">
                <a href="/" class="logo">Echoes</a>
                <div class="navbar__toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                {% if user.is_authenticated %}
                <div class="navbar__btn">
                    <button class="navbar__upload">
                        <a href="{% url 'upload_photo' %}">Upload</a>
                    </button>
                </div>
                {% endif %}
                <ul class="navbar__menu">
                    {% if user.is_authenticated %}
                    <li class="navbar__item">
                        <a href="{% url 'logout' %}" class="navbar__links">Log Out</a>
                    </li>
                    {% else %}
                    <li class="navbar__item">
                        <a href="{% url 'login' %}" class="navbar__links">Log In</a>
                    </li>
                    <li class="navbar__item">
                        <a href="{% url 'register' %}" class="navbar__links">Sign Up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    <script src="{% static 'journal/app.js' %}"></script>
</body>
</html>