{% extends "journal/base.html" %}
{% load static %}
{% block content %}
    <div class="photos_page">
        <div class="user_page__container">
            <div class="field__container">
                    <a class="user_page__btn" href="/">Photos</a>
                    <a class="user_page__btn" href="/">Albums</a>
            </div>
        </div>
        <div class="photos__container">
            <div class="gallery__container">

            </div>

        </div>
    </div>
{% endblock %}