{% extends "journal/base.html" %}
{% load static %}
{% block content %}
<div class="main">
    <div class="auth__container">
        <div class="img__auth_container">
            <img src="{% static 'journal/images/undraw_secure_login.svg' %}" alt="Signin" id="img_features">
        </div>
        <div class="auth_form__container">
            <form method="POST" class="login__form">
                {% if form.errors %}
                <p>Incorrect username/password. Please try again.</p>
                {% endif %}
                {% csrf_token %}
                <h2>Login</h2>
                <p>Don't have an account yet? <a href="{% url 'register' %}">Sign Up</a></p>
                <div class="auth__field">
                    <label for="{{ form.username.id_for_label }}">Email</label>
                    {{ form.username }}
                </div>
                <div class="auth__field">
                    <label for="{{ form.password.id_for_label }}">Password</label>
                    {{ form.password }}
                </div>
                <div class="auth__field">
                    <button class="auth__btn">Sign In</button>
                </div>
            </form>
            <div class="login__forgot_password">
                <a href="{% url 'password_reset' %}" class="">Forgot Password?</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}