{% extends "journal/base.html" %}
{% load static %}
{% block content %}
<div class="main">
    <div class="auth__container">
        <div class="img__auth_container">
            <img src="{% static 'journal/images/undraw_secure_login.svg' %}" alt="Signin" id="img_features">
        </div>
        <div class="auth_form__container">
            <form method="POST" class="signup__form">
                {% csrf_token %}
                <h2>Create New Password</h2>
                <p>Please enter your new password</p>
                <div class="auth__field">
                    <label for="{{ form.password1.id_for_label }}">Password</label>
                    {{ form.new_password1 }}{{form.new_password1.errors}}
                </div>
                <div class="auth__field">
                    <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
                    {{ form.new_password2 }}{{form.new_password2.errors}}
                </div>
                <div class="auth__field">
                    <button class="auth__btn">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}