{% extends "journal/base.html" %}
{% load static %}
{% block content %}
<div class="main">
    <div class="auth__container">
        <div class="img__auth_container">
            <img src="{% static 'journal/images/undraw_secure_login.svg' %}" alt="Signin" id="img_features">
        </div>
        <div class="auth_form__container">
            <form method="POST" class="reset__form">
                {% csrf_token %}
                <h2>Reset Password</h2>
                <p>Your password has been set</p>
                <div class="auth__field">
                    <button class="auth__btn"><a href="{% url 'login' %}">Return to Sign In</a></button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}