{% extends "journal/base.html" %}
{% load static %}
{% block content %}
<div class="main">
    <div class="auth__container">
        <div class="auth_form__container">
            <form method="POST" class="signup__form">
                {% csrf_token %}
                <h2>Create An Account</h2>
                <p>Already have an account? <a href="{% url 'login' %}">Log In</a></p>
                <div class="auth__field">
                    <label for="{{ form.first_name.id_for_label }}">First Name</label>
                    {{ form.first_name }}
                </div>
                <div class="auth__field">
                    <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                    {{ form.last_name }}
                </div>
                <div class="auth__field">
                    <label for="{{ form.email.id_for_label }}">Email</label>
                    {{ form.email }}{{form.email.errors}}
                </div>
                <div class="auth__field">
                    <label for="{{ form.password1.id_for_label }}">Password</label>
                    {{ form.password1 }}{{form.password1.errors}}
                </div>
                <div class="auth__field">
                    <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
                    {{ form.password2 }}{{form.password2.errors}}
                </div>
                <div class="auth__field">
                    {{form.errors}}
                </div>
                <div class="auth__field">
                    <button class="auth__btn">Sign Up</button>
                </div>
            </form>
        </div>
        <div class="img__auth_container">
            <img src="{% static 'journal/images/undraw_enter.svg' %}" alt="Signup" id="img_features">
        </div>
    </div>
</div>
{% endblock %}